
header {
  position: relative;
  width: 100%;
  height: 680px;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../picture/front/background2.jpg');
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
.header-content {
  background-color: rgba(0,0,0.5,0.3);
  position: absolute;
  top:50px;

  /* text-align: center; */
  padding: 10px 15px ;
  width: 100%;
}

.header-content .header-content-inner
{
  margin: 10px 20px;
}

#main-footer {
  width: 100%;
}
#main-footer .contactnumber {
  color: #3997A6;
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
}
#main-footer .copyright
{
  font-weight: lighter;
  font-size: 1em;
}
#main-footer .social {
  margin-bottom: 10px;
  color: #3997A6;
}

ul .inline-list-style {
  list-style: none;
}

.list_style {
  list-style-type: none;
}
#main-footer .column
{
  margin-top:20px;
}

#main-footer  div ul li a
{
  margin-top:20px;
  color: #3997A6;
}
