/node_modules
/public/hot
/public/picture
/public/storage
/storage/*.key
/vendor
/sonar-project.properties
/.scannerwork
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log